@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 111 60% 98%;
    --foreground: 0 0% 13%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    
    --primary: 109 72% 70%;
    --primary-foreground: 0 0% 13%;
    
    --secondary: 109 100% 94%;
    --secondary-foreground: 109 52% 45%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 47%;
    
    --accent: 109 100% 94%;
    --accent-foreground: 109 52% 45%;
    
    --border: 109 54% 92%;
    --input: 109 54% 92%;
    --ring: 109 72% 70%;
    
    --radius: 1rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
