@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAF9FF;
    --foreground: #3D2D66;
    
    --card: #FFFFFF;
    --card-foreground: #3D2D66;
    
    --primary: #9F7AEA;
    --primary-foreground: #FFFFFF;
    
    --secondary: #F6F2FF;
    --secondary-foreground: #8257E5;

    --muted: #F6F2FF;
    --muted-foreground: #8372A6;
    
    --accent: #F6F2FF;
    --accent-foreground: #8257E5;
    
    --border: #EBE5FC;
    --input: #EBE5FC;
    --ring: #8257E5;
    
    --radius: 1rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
